:root {
    --primary-color: #2C3B53;
    --secondary-color: #94bc1c;
    --background-color: #f8f9fa;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

.map-container {
    max-width: 100%;
    margin: 0;
    padding: 10px 0; /* Reduced padding */
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-container h1 {
    color: var(--primary-color);
    font-size: 2rem; /* Reduced font size */
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding: 10px 5px; /* Reduced padding */
    margin: 0; /* Remove any margin */
}

.gradient-line, .gradient-line-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px; /* Reduced height */
    background: linear-gradient(to right, #34749C, var(--secondary-color));
}

.gradient-line {
    top: 0;
}

.gradient-line-bottom {
    bottom: 0;
}

#map {
    flex-grow: 1;
    width: 100%;
    min-height: 70vh; /* Increased minimum height */
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 30px var(--shadow-color);
}

#kml-layer-control {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px; /* Reduced padding */
    box-shadow: 0 4px 6px var(--shadow-color);
}

#kml-layer-control h4 {
    color: var(--primary-color);
    font-size: 1.2rem; /* Reduced font size */
    margin-bottom: 10px; /* Reduced margin */
    padding-bottom: 5px; /* Reduced padding */
    border-bottom: 2px solid var(--secondary-color);
}

#kml-layer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Reduced gap */
    max-height: 150px; /* Reduced max height */
    overflow-y: auto;
    padding-right: 10px;
}

.kml-layer-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem; /* Reduced font size */
    color: #333;
    flex-basis: calc(33.333% - 10px);
}

.color-indicator {
    width: 15px; /* Reduced size */
    height: 15px; /* Reduced size */
    border-radius: 50%;
    margin-right: 5px; /* Reduced margin */
    display: inline-block;
}

/* Custom scrollbar styles remain unchanged */

.leaflet-control-layers {
    background-color: white;
    padding: 8px; /* Reduced padding */
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

@media screen and (max-width: 1200px) {
    .kml-layer-item {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .map-container h1 {
        font-size: 1.8rem;
        padding: 10px 5px;
    }

    #kml-layer-control h4 {
        font-size: 1.1rem;
    }

    #map {
        min-height: 60vh; /* Adjusted for smaller screens */
    }

    .kml-layer-item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    .map-container h1 {
        font-size: 1.6rem;
    }

    #kml-layer-control h4 {
        font-size: 1rem;
    }

    .kml-layer-item {
        font-size: 0.8rem;
    }
}